body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Indie Flower', cursive;*/
  /*font-family: 'Inconsolata', monospace;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Pacifico', cursive;*/
  /*font-family: 'Questrial', sans-serif;*/
  /*font-family: 'Rokkitt', serif;*/
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: 'ABeeZee', sans-serif;*/
  /*font-family: 'Righteous', cursive;*/
  /*font-family: 'Cardo', serif;*/
  /*font-family: 'Pontano Sans', sans-serif;*/
  /*font-family: 'Sacramento', cursive;*/
  /*font-family: 'Fredoka One', cursive;*/
  /*font-family: 'Concert One', cursive;*/
  /*font-family: 'Cabin Sketch', cursive;*/
  font-family: 'Montserrat Alternates', sans-serif;
  /*font-family: 'Grand Hotel', cursive;*/
  /*font-family: 'Love Ya Like A Sister', cursive;*/
  /*font-family: 'Fascinate Inline', cursive;*/
  /*font-family: 'Text Me One', sans-serif;*/
  /*font-family: 'Barrio', cursive;*/
  /*font-family: 'Fascinate', cursive;*/
  /*font-family: 'Baloo Da', cursive;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.messageBox {
  width: 80vw;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}
 
.title {
  text-align:center;
  text-transform:uppercase;
}
 
.messageList {
  border:1px solid #f1f1f1;
  padding:0 12px;
  max-height:70vh;
  overflow:scroll;
}
 
.message {
  background-color:#fafafa;
  margin:10px;
  padding:3px 10px;
  font-size:.85rem;
}

.name {
  font-weight: bold;
  font-size: 18px;
}
 
.messageForm {
  margin:10px;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
}
 
.messageFormAuthor {
  min-width:150px;
  margin:3px;
  padding:0 10px;
  border-radius:3px;
  height:40px;
  flex:2;
}
 
.messageFormText {
  flex:4;
  min-width:400px;
  margin:3px;
  padding:0 10px;
  height:40px;
  border-radius:3px;
}
 
.messageFormPost {
  min-width:75px;
  flex:1;
  height:40px;
  margin:5px 3px;
  font-size:1rem;
  background-color:#A3CDFD;
  border-radius:3px;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:.055rem;
  border:none;
}
 
.updateLink {
  text-decoration:none;
  padding-right:15px;
  font-size:.7rem;
}
 
.deleteLink {
  text-decoration:none;
  padding-right:15px;
  font-size:.7rem;
  color:red;
}
